<p>
    Button event that invokes a method:
    <button (click)='onClick()'>Click me!</button>

    <br/>
    <br/> Button event to external API that returns a JSON Object:
    <button (click)='onClickExtAPIJsonObject()'>Click me!</button>
    <br/>
    <li *ngIf="schoolInfo"> Name: {{schoolInfo.name}} </li>
    <br />
    <li *ngIf="schoolInfo"> Description: {{schoolInfo.description}} </li>
    <br />
    <li *ngIf="schoolInfo"> Address: {{schoolInfo.address}} </li>

    <br/> Button event to external API that returns a JSON Array:
    <button (click)='onClickExtAPIJsonArray()'>Click me!</button>
    <br/>
    <li *ngFor="let school of schools">
        {{school.name}} - {{school.description}} - {{school.address}}
    </li>

    <button (click)="goBack()">Back</button>

</p>