<nav>
    <!-- 'buttons' is defined in app-routing.module.ts -->
    <a routerLink="buttons">Button examples</a>
    <br/>

    <a routerLink="table">Table example</a>
    <br/>

    <br/> Image with link to another page: <br/>
    <a href="http://www.w3schools.com">
        <img border="0" alt="W3Schools" [src]="urlVariable" width="100" height="100">
    </a>
</nav>