<div>
    Dynamic Table example:
</div>

<div *ngIf="isGlobalFilter" class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>

<!--<p-dataTable [value]="itemList" [rows]="5" [paginator]="true" [globalFilter]="gb">
    <p-header>List of Schools</p-header>
    <p-column field="name" header="Name (endsWith)" [sortable]="true" [filter]="true" filterMatchMode="endsWith"></p-column>
    <p-column field="description" header="Description (startsWith)" [sortable]="true" [filter]="true"></p-column>
    <p-column field="address" header="Address" [sortable]="true" [filter]="false"></p-column>
</p-dataTable>-->

<div>
    <p-dataTable [value]="itemList" [rows]="numberRows" [paginator]="isPagination" [globalFilter]="gb" *ngIf="itemList?.length > 0">
        <p-column *ngFor="let col of itemColumns" [field]="col.field" [header]="col.header" [sortable]="col.sortable" [filter]="col.filter" [filterMatchMode]="col.filterMatchMode">
        </p-column>
    </p-dataTable>
</div>

<div *ngIf="itemList?.length == 0">
    No information found
</div>